.create-button{
    width: 100%;
    max-width: 200px;
    align-self: center;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    padding: 15px 10px;
    background-color: var(--orange);
    color: var(--white);
    font-weight: bolder;
    cursor: pointer;
}
.create-form-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 15px;
    width: 90vw;
    max-width: 600px;
    height: 90%;
    max-height: 750px;
    background-color: var(--black);
    z-index: 100;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgb(28, 27, 27);
    color: var(--white);
}
.create-form::-webkit-scrollbar{
    width: 5px;
    border-radius: 20px;
}
.create-form::-webkit-scrollbar-track{
    background-color: transparent;
}
.create-form::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-color: #585050b5;
}
.create-form{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 90%;
}
.form-create-label-image{
    width: 90%;
    align-self: center;
}
select{
    cursor: pointer;
}
.create-form > input[type='text'], input[type='tel'], input[type='date'],  select{
    outline: none;
    border-radius: 5px;
    border: none;
    min-height: 35px;
    width: 90%;
    align-self: center;
    padding-left: 10px;
    background-color: var(--white);
}
.create-form > input[type='file']{
    align-self: center;
    width: 90%;
    min-height: 35px;
}
.buttons-form-container{
    width: 90%;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 25px;
}
.button-submit-create{
    width: 50%;
    max-width: 200px;
    align-self: flex-end;
    padding: 8px;
    background-color: var(--green);
    border: none;
    font-size: 18px;
    color: var(--white);
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
}
.button-reset-create{
    width: 40%;
    max-width: 150px;
    align-self: flex-end;
    border-radius: 10px;
    border: none;
    background-color: var(--orange);
    padding: 5px;
    color: var(--white);
    margin-top: 15px;
    cursor: pointer;
}
.check-input-container{
    display: flex;
    gap: 10px;
    width: 90%;
    align-self: center;
}
.check-input-container.ensurance{
    border: 1px solid var(--grey);
    flex-direction: column;
    padding: 10px;
}
.check-input-container.payment{
    border: 1px solid var(--grey);
    flex-direction: column;
    padding: 10px;
}
.check-input-container.payment > div{
    display: flex;
    gap: 30px;
}
.check-input-container.ensurance > div.display-none{
    display: none;
}
.check-input-container.ensurance > div{
    display: flex;
    gap: 30px;
}
.check-input-container > input{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.check-input-container > input::before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border: none;
    background-color: var(--white);
    vertical-align: middle;
    border-radius: 50px;
}
.check-input-container > input:checked::before{
    content: "\2713";
    background-color: var(--green);
    color: var(--white);
    font-size: 18px;
    text-align: center;
    line-height: 20px;   
    font-weight: bolder;
}
.check-input-container > div > input{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.check-input-container > div > input::before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border: none;
    background-color: var(--white);
    vertical-align: middle;
    border-radius: 50px;
}
.check-input-container > div > input:checked::before{
    content: "\2713";
    background-color: var(--green);
    color: var(--white);
    font-size: 18px;
    text-align: center;
    line-height: 20px;   
    font-weight: bolder;
}
.close-create-form{
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    color: var(--white);
    font-size: 20px;
    font-weight: bolder;
    padding: 3px;
    cursor: pointer;
}
.close-create-form:hover{
    color: var(--orange);
}
.button-modal-create-club{
    align-self: center;
    background-color: var(--grey);
    border-radius: 10px;
    width: 15%;
    display: grid;
    place-items: center;
    height: 100%;
    font-size: 24px;
    font-weight: bolder;
    cursor: pointer;
}
.create-club-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.827);
    z-index: 100;
    display: grid;
    place-items: center;
}
.create-club-modal > form{
    width: 100%;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    background-color: var(--black);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px black;
}
.create-club-modal > form > input{
    width: 100%;
    height: 30px;
    padding-left: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
}
.create-club-modal > form > div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.create-club-modal > form > div > button{
    width: 40%;
    height: 30px;
    border-radius: 10px;
    background-color: var(--green);
    border: none;
    color: var(--white);
    font-weight: bolder;
    font-size: 16px;
    cursor: pointer;
}
.create-club-modal > form > div > span{
    color: var(--orange);
    text-decoration: underline;
    text-underline-offset: 3px;
    cursor: pointer;
}
.clubs-container-form-create{
    display: flex;
    align-self: center;
    width: 90%;
    justify-content: space-between;
}
.select-clubs{
    width: 80%;
    color: var(--grey);
}
.roles-selected{
    width: 90%;
    align-self: center;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.roles-selected > li{
    list-style: none;
    max-width: 150px;
    padding: 5px 5px;
    background-color: var(--grey);
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-size: 13px;
}
.roles-selected > li > p{
    border-left: 1px solid var(--white);
    padding-left: 5px;
    cursor: pointer;
}
.roles-selected > li > p:hover{
    color: var(--orange);
}
div.css-13cymwt-control,
div.css-t3ipsp-control
{
    width: 100%;
    background-color: var(--white);
    border: none;
    outline: none;
    min-height: 34px;
    font-size: 14px;
    border-radius: 5px;
}
div.css-1nmdiq5-menu{
    background-color: var(--white);
    color: var(--black);
}
div.css-1nmdiq5-menu > div > div:hover{
    background-color: rgb(233, 229, 229);
}
.check-input-container > input.numb-of-sessions{
    background-color: var(--white);
    padding: 10px;
    border-radius: 5px;
}
