.select-admin-finances-container{
    width: 100%;
}
.select-admin-finances-container > label{
    width: 100%;
    font-size: 20px;
    color: var(--white);
}
.select-admin-finance > .css-13cymwt-control,
.select-admin-finance > .css-t3ipsp-control{
    width: 100%;
    height: 40px;
    cursor: pointer;
}
.option-finance-container{
  padding: 40px 0px;
  width: 100%;
}
.admin-container{
    color: var(--white);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.admin-coaches-list{
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
}
.admin-coaches-item{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--grey);
    padding: 0px 10px;
    position: relative;
}
.admin-coaches-item.active{
    background-color: var(--grey);
}
.admin-coaches-item:hover{
  background-color: var(--grey);
}
.item-admin-name{
    font-size: 20px;
}
.item-admin-name.player{
    padding-left: 30px;
}
.button-admin-coach{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--orange);
    color: var(--white);
    font-size: 16px;
    cursor: pointer;
}
.button-admin-player{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--green);
    color: var(--white);
    font-size: 16px;
    cursor: pointer;
}
.button-admin-player.active,
.button-admin-coach.active{
    background-color: rgb(167, 51, 51);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 0px;
    display: grid;
    place-items: center;
}
.button-admin-player.active:hover,
.button-admin-coach.active:hover{
    background-color: rgb(202, 57, 57);
}
.administrate-form{
    opacity: 0;
    height: 0px;
    width: 100%;
    display: flex;
    transition: all 0.5s;
    padding: 0px 20px;
    background-color: var(--grey);
}
.administrate-form-container{
    width: 100%;
}
.administrate-form.active{
    opacity: 1;
    height: auto;
    padding: 20px;
}
.active-span{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: none;
    background-color: var(--green);
    align-self: center;
    margin-right: 10px;
    position: absolute;
   }
   .unactive-span{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: none;
    background-color: var(--orange);
    align-self: center;
    margin-right: 10px;
    position: absolute;
   }
.form-administrate{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--black);
    padding: 10px;
    border-radius: 5px;
    gap: 20px;
}
.check-input-container.payment-administration{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 30px;
}
.monthly-pay-administration{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.training-pay-administration{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.training-pay-administration > .numb-of-sessions{
    height: 34px;
    font-size: 14px;
    border-radius: 5px;
    padding-left: 10px;
    background-color: var(--white);
}
.check-input-container > input.amount-to-pay-coach{
    width: 100%;
    height: 30px;
    background-color: var(--white);
}
.pay-total-checkbox{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
}
.table-debts{
    text-align: left;
    border-collapse: collapse;
    border: 1px solid var(--grey);
}
td{
    font-size: 12px;
    border: 1px solid var(--grey);
}
tfoot > tr > td{
    border: none;
}
.view-pays-container{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-color: var(--grey);
    min-width: 250px;
    min-height: 300px;
    width: 50%;
    height: 50%;
    transform: translate(0, 0);
    z-index: 100;
    border-radius: 5px;
    padding: 10px;
}
.view-pays-container > h3{
    display: flex;
    justify-content: space-between;
}
.view-pays-container > h3 > button{
    display: grid;
    place-items: center;
    font-size: 18px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background-color: rgb(167, 51, 51);
    color: var(--white);
}
.view-pays-container > table{
    width: 100%;
    text-align: left;
}
.check-input-container.payment-administration > p{
    display: flex;
    align-items: center;
    gap: 10px;
}