.select-admin-finances-container{
    width: 100%;
}
.select-admin-finances-container > label{
    width: 100%;
    font-size: 20px;
    color: var(--white);
}
.select-admin-finance > .css-13cymwt-control,
.select-admin-finance > .css-t3ipsp-control{
    width: 100%;
    height: 40px;
    cursor: pointer;
}
.option-finance-container{
  padding: 40px 0px;
  width: 100%;
}
.admin-container{
    color: var(--white);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.admin-coaches-list{
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
}
.admin-coaches-item{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--grey);
    padding: 0px 10px;
    position: relative;
}
.admin-coaches-item.active{
    background-color: var(--grey);
}
.admin-coaches-item:hover{
  background-color: var(--grey);
}
.item-admin-name{
    font-size: 20px;
}
.button-admin-coach{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--orange);
    color: var(--white);
    font-size: 16px;
    cursor: pointer;
}
.button-admin-player{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--green);
    color: var(--white);
    font-size: 16px;
    cursor: pointer;
}
.button-admin-player.active,
.button-admin-coach.active{
    background-color: rgb(167, 51, 51);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 0px;
    display: grid;
    place-items: center;
}
.button-admin-player.active:hover,
.button-admin-coach.active:hover{
    background-color: rgb(202, 57, 57);
}
.administrate-form{
    opacity: 0;
    height: 0px;
    width: 100%;
    display: flex;
    transition: all 0.5s;
    padding: 4px;
    background-color: var(--grey);
}
.administrate-form-container{
    width: 100%;
}
.administrate-form.active{
    opacity: 1;
    height: auto;
    padding-bottom: 20px;
}
.active-span{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: none;
    background-color: var(--green);
    align-self: center;
    margin-right: 10px;
    position: absolute;
   }
   .unactive-span{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: none;
    background-color: var(--orange);
    align-self: center;
    margin-right: 10px;
    position: absolute;
   }
.form-administrate{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--black);
    padding: 10px 2px;
    border-radius: 5px;
    gap: 20px;
}
.check-input-container.payment-administration{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 30px;
}
.monthly-pay-administration{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.training-pay-administration{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.training-pay-administration > .numb-of-sessions{
    height: 34px;
    font-size: 14px;
    border-radius: 5px;
    padding-left: 10px;
    background-color: var(--white);
}
.check-input-container > input.amount-to-pay-coach{
    width: 100%;
    height: 30px;
    background-color: var(--white);
}
.pay-total-checkbox{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
}
.table-debts{
    text-align: left;
    border-collapse: collapse;
    border: 1px solid var(--grey);
}
td{
    font-size: 12px;
    border: 1px solid var(--grey);
}
tfoot > tr > td{
    border: none;
}
.view-pays-container{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-color: var(--grey);
    min-width: 250px;
    min-height: 300px;
    width: 50%;
    height: 50%;
    transform: translate(0, 0);
    z-index: 100;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.view-pays-container > h3{
    display: flex;
    justify-content: space-between;
}
.view-pays-container > h3 > button{
    display: grid;
    place-items: center;
    font-size: 18px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background-color: rgb(167, 51, 51);
    color: var(--white);
}
.view-pays-container > table{
    width: 100%;
    text-align: left;
}
.check-input-container.payment-administration > p{
    display: flex;
    align-items: center;
    gap: 10px;
}
.form-administrate > .buttons-form-container{
    flex-direction: row-reverse;
    justify-content: space-between;
}
.form-administrate > .buttons-form-container > button{
    display: grid;
    place-items: center;
    font-size: 14px;
}
.view-payments{
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: var(--orange);
    font-size: 16px;
    width: 50%;
    max-width: 100px;
    align-self: flex-end;
}
.view-payments:hover{
    color: var(--green);
}
.bill-detail-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 5px;
    margin: 10px 0px;
    background-color: var(--grey);
    border-radius: 5px;
}
.bill-detail-container > h5{
    color: var(--white);
}
.top-admin-finances-container > h3{
   color: var(--green)
}
.edit-bill-detail{
    background-color: transparent;
    color: var(--orange);
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 0px 10px;
}
.edit-bill-detail:hover{
    color: var(--light-orange);
}
.edit-bill-form{
    z-index: 100;
    background-color: var(--black);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin:auto;
    width: 90%;
    max-width: 400px;
    height: 90%;
    max-height: 500px;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 10px;
    border-radius: 5px;
}
.edit-bill-form > div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.edit-bill-form > div > input{
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: var(--white);
    outline: none;
    padding-left: 10px;
}
.close-edit-bill{
    background-color: transparent;
    border: none;
    color: var(--white);
    font-size: 24px;
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
}
.close-edit-bill:hover{
    color: var(--orange);
}
div.edit-bill-buttons{
    flex-direction: row;
    width: 100%;
}
.edit-bill-button{
    width: 50%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    color: var(--white);
    font-size: 16px;
    font-weight: 800;
    cursor: pointer;
}
.edit-bill-button.submit{
    background-color: var(--green);
}
.edit-bill-button.cancel{
    background-color: var(--orange);
}
.edit-bill-button.submit:hover{
    background-color: var(--lightgreen);
}
.edit-bill-button.cancel:hover{
    background-color: var(--light-orange);
}
.tbody-pay-train > tr > td{
    text-align: center;
}
.train-payed-toggled{
    border: 2px solid var(--orange);
}
.date-td{
    width: 30%;
}
.hs-td{
    width: 15%;
}
.mon-td{
    width: 30%;
}
.but-td{
    width: 25%;
}
.but-td > button{
    width: 100%;
    border: none;
    padding: 5px 0px;
    cursor: pointer;
    background-color: transparent;
    color: var(--white);
    background-color: var(--green);
    font-weight: 800;
}
.train-payed-toggled > tr > .but-td > button{
    background-color: var(--light-orange);
    color: var(--black);
}
.thead-pay-train > tr > th{
    text-align: center;
}