.login-container{
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.logo-login-container{
    width: 95%;
    max-width: 250px;
    height: 250px;
    position: relative;
}
.logo-login{
    width: 100%;
    height: auto;
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}
.login-container > span{
    width: 100%;
    height: 250px;
}
.logo-login-skeleton{
    width: 100%;
    height: 150px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 25% 0;
}
.form-login-container{
    width: 80%;
    max-width: 350px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.form-login{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.input-login{
    width: 100%;
    height: 35px;
    border-radius: 10px;
    border: 1px solid rgb(142, 135, 135);
    background-color: var(--white);
    outline: none;
    padding: 10px;
    font-size: 16px;
}
.input-login::placeholder{
    font-size: 16px;
}
.change-password{
    align-self: flex-end;
    color: var(--green);
}
.change-password:hover{
    color: aquamarine;
}
.login-button{
    width: 150px;
    height: 40px;
    align-self: center;
    border: none;
    border-radius: 20px;
    color: var(--white);
    font-size: 15px;
    font-weight: bolder;
    background-color: var(--orange);
    cursor: pointer;
}
.login-button:hover{
    background-color: rgb(246, 142, 39);
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}