header{
    height: 180px;
    border-bottom: 3px solid var(--green);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-header{
    height: 90%;
    padding-left: 15px;
}
.burguer-menu{
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
    box-sizing: content-box;
    cursor: pointer;
}
.burguer-div{
    background-color: var(--white);
    width: 100%;
    height: 2.5px;
    border-radius: 20px;
}