footer{
    width: 95%;
    max-width: 1000px;
    height: 50px;
    border-top: 3px solid var(--green);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}
footer > p{
    margin-left: 4px;
    font-style: italic;
}