:root{
    --black: #363435;
    --green: #00CAA6;
    --orange: #ED6E21;
    --white: #f2efe9;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{
    width: calc(100vw - (100vw - 100%));
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
body{
    background-color: var(--black);
    overflow-x: hidden;
}

